


#grille {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 20px;
  }
  
  #poison {
  grid-row: 1;
  grid-column: 1;
  }

  #exp {
      grid-row: 2;
      grid-column: 2;
      grid-auto-rows: minmax(10px, auto);
  }

  #prat {
    grid-row: 2;
    grid-column: 3;
  }

  #odd {
    grid-row: 2;
    grid-column: 4;
  }








